<!DOCTYPE html>
<html>
  <head>
    <title>DistAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= render 'shared/favicon' %>
    <% if Rails.env.production? %>
      <%= render 'shared/ya_metrica' %>
    <% end %>
  </head>
  <body>
    <div class="container">
        <%= render 'shared/nav' %>
        <%= render 'shared/alerts' %>
        <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
