<h2 class="row align-items-center justify-content-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: { class: "form-sign" }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.label :name, class: "sr-only" %>
    <%= f.text_field :name, autofocus: true,
                            required: true,
                            autocomplete: "off",
                            placeholder: "Name",
                            class: "form-control" %>

    <%= f.label :login, class: "sr-only" %>
    <%= f.text_field :login, autofocus: true,
                            required: true,
                            autocomplete: "off",
                            placeholder: "Login",
                            class: "form-control" %>

    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, autocomplete: "email",
                              required: true,
                              placeholder: "Email",
                              class: "form-control" %>
  

    <% minimum_password_length ||= 6 %>
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, autocomplete: "off",
                                    required: true,
                                    placeholder: "Password (#{@minimum_password_length} characters minimum)",
                                    class: "form-control" %>

    <%= f.label :password_confirmation, class: "sr-only" %>
    <%= f.password_field :password_confirmation, autocomplete: "off",
                                                 required: true,
                                                 placeholder: "Password confirmation",
                                                 class: "form-control" %>

  <%= f.submit "Sign up", class: "btn btn-lg btn-success btn-block my-3" %>
<% end %>

<%#= render "users/shared/links" %>
